./app/frontend/node_modules
./app/frontend/dist
./app/frontend/.cache
./terraform/.terraform
./terraform/terraform.tfstate
./terraform/terraform.tfstate.backup
./terraform/.terraform.lock.hcl
./app/backend/node_modules
./app/backend/dist
./app/backend/.cache
./app/frontend/.DS_Store
./app/backend/.DS_Store
